/* Home page styles */
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay for contrast */
    z-index: -1;
  }
  
  .mainContent {
    z-index: 1;
    text-align: center;
    color: #fff;
    padding: 2rem;
  }
  
  .title {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #fff; /* Dark blue accent */
  }
  .red {
    color: #c8102e; 
  }
  
  
  .subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #f8f9fa;
  }
  
  .ctaButton {
    padding: 0.8rem 2rem;
    font-size: 1rem;
    background-color: #c8102e; /* American red */
    color: #fff;
    text-decoration: none;
    border-radius: 0.3rem;
    transition: background-color 0.3s ease;
  }
  
  .ctaButton:hover {
    background-color: #a50e24;
  }
  
  /* Navigation Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #031835; /* Updated color */
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3%;
    z-index: 1000; /* Ensures the navbar stays on top of other elements */
  }
  
  /* The logo container keeps the logo aligned on the left */
  .logo {
    display: flex;
    align-items: center;
  }
  
  /* Navigation links styling */
  .navLinks {
    list-style: none;
    display: flex;
    margin: 0;   
    padding: 1em; 
    margin: 1em;
  }
  
  .navLinks li {
    margin-left: 1rem;
  }
  
  .navLinks a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
  
/* Background Styles */
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
  }
  

  /* Footer styles */
.footer {
    background-color: #031835;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  