/* src/styles/Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #031835; /* Updated color */
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3%;
  z-index: 1000; /* Ensures the navbar stays on top of other elements */
}

/* The logo container keeps the logo aligned on the left */
.logo {
  display: flex;
  align-items: center;
}

/* Navigation links styling */
.navLinks {
  list-style: none;
  display: flex;
  margin: 0;   
  padding: 1em; 
  margin: 1em;
}

.navLinks li {
  margin-left: 1rem;
}

.navLinks a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}
